* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    width: min(100%, 1280px);
    margin: 0 auto;
}

#header-section {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.header-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #111517;
}

.dark-btn {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #111517;
    text-decoration: none;
    align-items: center;
    column-gap: 8px;
}

#search-section {
    margin: 48px 0;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-input {
    width: 480px;
    padding: 18px 74px;
    border: none;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    background: transparent url("../img/search.svg") no-repeat 14px center;
}